<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anton.codesampler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!---> это кнопка JavaCore которая переводит на список </!-->
        <activity android:name=".JavaCore"></activity>
        <!---> это кнопка AboutPage которая переводит на страничку о приложении </!-->
        <activity android:name=".AboutPage"></activity>

        <!---> это главные список </!-->
        <!---> это первый элемент списка</!-->
        <activity android:name=".javaIO.JavaIO"></activity>

        <!---> список JavaIO содержит эти подразделы</!-->

        <activity android:name=".javaIO.file.File"></activity>

        <!---> список File содержит эти подразделы</!-->
        <activity android:name=".javaIO.file.CreateFile"></activity>
        <activity android:name=".javaIO.file.ConstructFilePath"></activity>
        <activity android:name=".javaIO.file.SetTheFilePermission"></activity>
        <activity android:name=".javaIO.file.ReadFileEithBIS"></activity>
        <activity android:name=".javaIO.file.ReadFileWithBufferedReader"></activity>
        <activity android:name=".javaIO.file.WriteFileWithFOS"></activity>
        <activity android:name=".javaIO.file.WriteFileEithBW"></activity>
        <activity android:name=".javaIO.file.AppendContentToFile"></activity>
        <activity android:name=".javaIO.file.DeleteFile"></activity>
        <activity android:name=".javaIO.file.DeleteFilesWithCertainExtensionOnly"></activity>
        <activity android:name=".javaIO.file.FindFilesWithCertainExtensionOnly"></activity>
        <activity android:name=".javaIO.file.RenameFile"></activity>
        <activity android:name=".javaIO.file.CopyFile"></activity>
        <activity android:name=".javaIO.file.MoveFileToAnotherDirectory"></activity>
        <activity android:name=".javaIO.file.MakeFileReadOnly"></activity>
        <activity android:name=".javaIO.file.GetTheFileCreationDate"></activity>
        <activity android:name=".javaIO.file.GetTheFileLastModifiedDate"></activity>
        <activity android:name=".javaIO.file.ChangeTheFileLastModifiedDate"></activity>
        <activity android:name=".javaIO.file.GetFileSize"></activity>
        <activity android:name=".javaIO.file.GetFilepathOfFile"></activity>
        <activity android:name=".javaIO.file.GetTheTotalNumberOfLinesOfFile"></activity>
        <activity android:name=".javaIO.file.CheckIfFileExists"></activity>
        <activity android:name=".javaIO.file.CheckIfFileIsHidden"></activity>
        <activity android:name=".javaIO.file.ReadUTF8EncodedDataFromFile"></activity>
        <activity android:name=".javaIO.file.WriteUTF8EncodedDataIntoFile"></activity>
        <activity android:name=".javaIO.file.AssignFileContentIntoVariable"></activity>
        <activity android:name=".javaIO.file.GenerateFileChecksumValue"></activity>
        <activity android:name=".javaIO.file.ConvertFileIntoAnArrayOfBytes"></activity>
        <activity android:name=".javaIO.file.ConvertArrayOfBytesIntoFile"></activity>
        <activity android:name=".javaIO.file.ConvertStringToInputStream"></activity>
        <activity android:name=".javaIO.file.ConvertInputStreamToString"></activity>
        <activity android:name=".javaIO.file.ConvertFileToHex"></activity>
        <activity android:name=".javaIO.file.GetTotalOfFreeDiskSpace"></activity>


        <activity android:name=".javaIO.FileSerialization.FileSerialization"></activity>
        <!---> список FileSerialization содержит эти подразделы</!-->
        <activity android:name=".javaIO.FileSerialization.WriteAnObjToFile"></activity>
        <activity android:name=".javaIO.FileSerialization.ReadObjFromFile"></activity>


        <activity android:name=".javaIO.FileCompression.FileCompression"></activity>
        <!---> список FileCompression содержит эти подразделы</!-->
        <activity android:name=".javaIO.FileCompression.CompressFilesInZIPFormat"></activity>
        <activity android:name=".javaIO.FileCompression.DecompressFilesFromZIPFile"></activity>
        <activity android:name=".javaIO.FileCompression.CompressFileInGZIPFormat"></activity>
        <activity android:name=".javaIO.FileCompression.DecompressFileFromGZIPFile"></activity>
        <activity android:name=".javaIO.FileCompression.CompressSerializedObjectIntoFile"></activity>
        <activity android:name=".javaIO.FileCompression.DecompressSerializedObjectFromGzipFile"></activity>




        <activity android:name=".javaIO.TemporaryFiles.TemporaryFile"></activity>
        <!---> список TemporaryFile содержит эти подразделы</!-->
        <activity android:name=".javaIO.TemporaryFiles.CreateTemporaryFile"></activity>
        <activity android:name=".javaIO.TemporaryFiles.WriteDataToTemporaryFile"></activity>
        <activity android:name=".javaIO.TemporaryFiles.DeleteTemporaryFile"></activity>
        <activity android:name=".javaIO.TemporaryFiles.GetTheTemporaryFilePath"></activity>



        <activity android:name=".javaIO.Directory.Directory"></activity>
        <!---> список Directory содержит эти подразделы</!-->
        <activity android:name=".javaIO.Directory.CreateDirectory"></activity>
        <activity android:name=".javaIO.Directory.DeleteDirectory"></activity>
        <activity android:name=".javaIO.Directory.CopyDirectory"></activity>
        <activity android:name=".javaIO.Directory.TraverseDirectoryStructure"></activity>
        <activity android:name=".javaIO.Directory.CheckIfDirectoryIsEmpty"></activity>
        <activity android:name=".javaIO.Directory.GetTheCurrentWorkingDirectory"></activity>


        <activity android:name=".javaIO.ConsoleIO.ConsoleIO"></activity>
        <!---> список ConsoleIO содержит эти подразделы</!-->
        <activity android:name=".javaIO.ConsoleIO.GetTheStandartInput"></activity><!-->stopped here</!-->







        <activity android:name=".javaxml.JavaXML"></activity>
        <!---> список JavaXML содержит эти подразделы</!-->
        <activity android:name=".javaxml.dom.DOMXMLParser"></activity>
        <!---> список DOMXMLParser содержит эти подразделы</!-->
        <activity android:name=".javaxml.dom.ReadXMLFile"></activity>
        <activity android:name=".javaxml.dom.ModifyExistingXMLFile"></activity>
        <activity android:name=".javaxml.dom.CreateNewXMLFile"></activity>
        <activity android:name=".javaxml.dom.CountXMLElements"></activity>



        <activity android:name=".javaxml.sax.SAXXMLParser"></activity>
        <!---> список DOMXMLParser содержит эти подразделы</!-->
        <activity android:name=".javaxml.sax.ReadXMLFileSAX"></activity>
        <activity android:name=".javaxml.sax.ReadUTF8XMLFile"></activity>
        <activity android:name=".javaxml.sax.SAXErrorInvalidByte1"></activity>
        <activity android:name=".javaxml.sax.SAXErrorContentIsNotAllowed"></activity>




        <activity android:name=".javaxml.jdom.JDOMXMLParser"></activity>
        <!---> список JDOMXMLParser содержит эти подразделы</!-->
        <activity android:name=".javaxml.jdom.ReadXMLFileJDOM"></activity>
        <activity android:name=".javaxml.jdom.ModifyExistingXMLFileJDOM"></activity>
        <activity android:name=".javaxml.jdom.CreateNewXMLFileJDOM"></activity>



        <activity android:name=".javaxml.jaxb.JAXBExample"></activity>
        <!---> список JAXBExample содержит эти подразделы</!-->
        <activity android:name=".javaxml.jaxb.JAXB2Example"></activity>



        <activity android:name=".javaxml.xmlproperties.XMLProperties"></activity>
        <!---> список XMLProperties содержит эти подразделы</!-->
        <activity android:name=".javaxml.xmlproperties.ConvertPropertiesFileIntoXMLFile"></activity>
        <activity android:name=".javaxml.xmlproperties.ConvertXMLFileIntoPropertiesFile"></activity>


        <activity android:name=".json.JavaJSON"></activity>
        <!---> список Java Json содержит эти подразделы</!-->
        <activity android:name=".json.jackson.Jackson"></activity>

        <!---> список Jacson содержит эти подразделы</!-->
        <activity android:name=".json.jackson.ObjectAndJSON"></activity>
        <activity android:name=".json.jackson.MapAndJSON"></activity>
        <activity android:name=".json.jackson.JacksonTreeModelExample"></activity>
        <activity android:name=".json.jackson.JacksonStreamingExample"></activity>
        <activity android:name=".json.jackson.PrettyPrintJSONOutputInJackso"></activity>

        <activity android:name=".json.gson.GoogleGson"></activity>
        <!---> список Google GSON содержит эти подразделы</!-->
        <activity android:name=".json.gson.ObjAndGson"></activity>
        <activity android:name=".json.gson.GsonSimpleStreaming"></activity>
        <activity android:name=".json.gson.Gsonoutput"></activity>


        <activity android:name=".json.jsonsimple.JSONSimple"></activity>
        <!---> список JSON.Simple содержит эти подразделы</!-->
        <activity android:name=".json.jsonsimple.JSONSimpleExample"></activity>




        <activity android:name=".JDBC.JDBC"></activity>
        <!---> список JDBC содержит эти подразделы</!-->
        <activity android:name=".JDBC.QuickStart.QuickStart"></activity>
        <!---> список QuickStart содержит эти подразделы</!-->
        <activity android:name=".JDBC.QuickStart.MySQL"></activity>
        <activity android:name=".JDBC.QuickStart.PostgreSQL"></activity>
        <activity android:name=".JDBC.QuickStart.OracleDB"></activity>

        <activity android:name=".JDBC.JDBCStatement.Statement"></activity>
        <!---> список Statement содержит эти подразделы</!-->
        <activity android:name=".JDBC.JDBCStatement.STMNCreateTable"></activity>
        <activity android:name=".JDBC.JDBCStatement.STMNInsertRecord"></activity>
        <activity android:name=".JDBC.JDBCStatement.STMNUpdateRecord"></activity>
        <activity android:name=".JDBC.JDBCStatement.STMNDeleteRecord"></activity>
        <activity android:name=".JDBC.JDBCStatement.STMNSelectListRecords"></activity>
        <activity android:name=".JDBC.JDBCStatement.STMNBatchUpdate"></activity>

        <activity android:name=".JDBC.JDBCPreparedStatment.PreparedStatement"></activity>
        <!---> список PreparedStatement содержит эти подразделы</!-->
        <activity android:name=".JDBC.JDBCPreparedStatment.PSSTMNCreateTable"></activity>
        <activity android:name=".JDBC.JDBCPreparedStatment.PSSTMNInsertRecord"></activity>
        <activity android:name=".JDBC.JDBCPreparedStatment.PSSTMNUpdateRecord"></activity>
        <activity android:name=".JDBC.JDBCPreparedStatment.PSSTMNDeleteRecord"></activity>
        <activity android:name=".JDBC.JDBCPreparedStatment.PSSTMNSelectListRecords"></activity>
        <activity android:name=".JDBC.JDBCPreparedStatment.PSSTMNBatchUpdate"></activity>

        <activity android:name=".JDBC.JDBCStoredProcedure.StoredProcedure"></activity>
        <!---> список Stored Procedure содержит эти подразделы</!-->
        <activity android:name=".JDBC.JDBCStoredProcedure.StoredProcedureIN"></activity>
        <activity android:name=".JDBC.JDBCStoredProcedure.StoredProcedureOUT"></activity>
        <activity android:name=".JDBC.JDBCStoredProcedure.StoredProcedureCURSOR"></activity>

        <activity android:name=".JDBC.TransactionExample.TransactionExample"></activity>
        <!---> список TransactionExample содержит эти подразделы</!-->
        <activity android:name=".JDBC.TransactionExample.TransaqExample"></activity>


        <activity android:name=".JDBC.FAQ.FAQ"></activity>
        <!---> список TransactionExample содержит эти подразделы</!-->
        <activity android:name=".JDBC.FAQ.InsertTimestampValueInPreparedStatement"></activity>
        <activity android:name=".JDBC.FAQ.InsertDateValueInPreparedStatement"></activity>




















    </application>

</manifest>